:root {
    /* Colores */
    --blanco: #FFFFFF;
    --negro: #000000;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;

}
html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1 rem = 10px */
    font-family: "Krub", sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: var(--primario);
}
.titulo span {
    font-size: 2rem;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.nav-bg {
    background-color: var(--secundario);
}
/* Coloca centrados los enlaces */
.navegacion-principal {
    display: flex;
    flex-direction: column;
}
/* Cambia la dirección de los enlaces */
@media (min-width: 768px) { 
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion-principal a {
    /* Coloca los enlaces unos obre otro */
    display: block;
    text-align: center;

    /* tamaño de la barra de navegación y decoracion del texto */
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
}
.navegacion-principal a:hover {
    color: var(--primario);
    text-decoration: none;
}
/* coloca la imagen de fondo y la ajusta a la pantalla*/
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}